body {
	background-color: black;
}

.multicolortext {
	background-image: linear-gradient(to left, violet,
	indigo, green, blue, yellow, orange, red);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
		text-align: center;
      }
	  
#home {
	width: 400px;
    height: 400px;
    display: block;
	margin-left: auto;
	margin-right: auto;
}

