body {
	background-color: gray;
}

nav {
	width: 100%;
	border: 2px solid red;
	text-align: center;
}

nav li {
	text-decoration: none;
	display: inline;
	text-align: center;
	margin: 1em;
}

#home {
	width: 400px;
    height: 400px;
    display: block;
	margin-left: auto;
	margin-right: auto;
}